
body {
    background-image: url("https://st3.depositphotos.com/13324256/16372/i/450/depositphotos_163729864-stock-photo-fresh-vegetables-background.jpg");
    background-size:cover;
    background-color: rgb(250, 250, 250);
}

table {
    border-collapse: collapse;
    width: 40%; /* Займає всю ширину контейнера */
    margin: 0 auto;
}
  
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
  
th {
    background-color: rgb(238, 233, 204);
}
td {
    color:rgb(238, 233, 204);
}
.rec {
    margin-top: 250px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    text-align: center;
    font-style: inherit;
    font-size: 60px;
    background: rgb(238, 227, 168);
    padding: 10px 20px;
    color:#343535;

}
.a1 {
    all: unset; /* Скидаємо всі стилі за замовчуванням */
    background-color: #ebd9b386; /* Зелений колір фону */
    color: white;
    padding: 25px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px; /* Закруглені кути */
    margin-left: 395px;
    
}
.a2 {
    all: unset; /* Скидаємо всі стилі за замовчуванням */
    background-color: #ebd9b386; /* Зелений колір фону */
    color: white;
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px; /* Закруглені кути */
}
.a1:hover {
    background-color:rgb(226, 228, 129);
    transition: 0.7s;
}

.a2:hover {
    background-color:rgb(226, 228, 129);
    transition: 0.7s;
}

.a3 {
    all: unset; /* Скидаємо всі стилі за замовчуванням */
    background-color: #ebd9b386; /* Зелений колір фону */
    color: white;
    padding: 8px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 30px 2px;
    cursor: pointer;
    border-radius: 15px; /* Закруглені кути */
    margin-left: 540px; 
}
.a3:hover {
    background-color:rgb(226, 228, 129);
    transition: 0.7s;
}
.a4 {
    color: rgb(238, 227, 168);
    padding: 50px 5px;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 500px;
    margin-bottom: 50px;
    
}

input[type="text"] {
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.a6 {
    color: rgb(238, 227, 168);
    padding: 5px 10px;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 485px;
    
}
.a7 {
    color: rgb(238, 227, 168);
    padding: 5px 10px;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 165px;
}
textarea {
    width: 20%; /* Занимает всю ширину родительского элемента */
    height: 100px; /* Высота в пикселях */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; /* Разрешить изменение размера только по вертикали */
  }
.a8 {
    margin-left: 400px;
}
.a9 {
    all: unset; /* Скидаємо всі стилі за замовчуванням */
    background-color: #ebd9b386; /* Зелений колір фону */
    color: white;
    padding: 8px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 15px; /* Закруглені кути */
    margin-left: 540px; 
}
.a9:hover {
    background-color:rgb(226, 228, 129);
    transition: 0.7s;
}

.a10 {
    all: unset; /* Скидаємо всі стилі за замовчуванням */
    background-color: #ebd9b386; /* Зелений колір фону */
    color: white;
    padding: 8px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 15px; /* Закруглені кути */
    margin-left: 540px; 
}
.a10:hover {
    background-color:rgb(226, 228, 129);
    transition: 0.7s;
}